.about__container {
  padding: 120px 0 235px;
  position: relative;
  display: flex;
  gap: 85px;
}

.about__text-container {
  max-width: 415px;
  color: #102654;
  padding-left: 60px;
  margin-top: 39px;
}

.about__title {
  font-family: $ff-alumni;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
  margin-bottom: 7px;
  font-weight: 600;
  letter-spacing: 1.44px;
}

.about__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.about__text {
  margin: 0;
  margin-bottom: 8px;
  margin-top: 38px;
}

.about__text--invisible {
  margin: 0;
}

.about__image-container img {
  object-fit: cover;
}

.about__video {
  position: absolute;
  width: 364px;
  min-height: 228px;
  top: 408px;
  left: 437px;

  & iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    border: none;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    background-color: rgba(20, 54, 122, 0.5);
    z-index: 2;
  }

  &:hover .about__video-button,
  &:focus .about__video-button {
    @include hover-focus;
    outline-color: #102654;
  }

  &:hover svg,
  &:focus svg {
    @include hover-focus;
    fill: #102654;
  }

  &:hover .about__video-button::before,
  &:focus .about__video-button::before {
    @include hover-focus;
    background: $color-default-white;
  }

  &:active .about__video-button {
    @include active;
    width: 58px;
    height: 58px;
    outline-offset: 21px;
    outline-color: #102654;
  }

  &:active svg {
    @include active;
    fill: #102654;
  }

  &:active .about__video-button::before {
    @include active;
    background: $color-default-white;
  }
}

.about__video-link {
  height: 100%;
}

.about__video img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about__video-button {
  position: absolute;
  content: "";
  width: 72px;
  height: 72px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  text-align: center;
  z-index: 4;
  padding: 0;
  transform: translate(-50%, -50%);
  outline: 2px solid rgba($color-torch-red, 0.2);
  outline-offset: 14px;

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: $button-darkcerulean-to-venetianred-play;
    border-radius: 50%;
    z-index: 0;
  }

  &:disabled {
    outline-color: #102654;
    opacity: 40%;
  }

  &:disabled::before {
    background: $color-default-white;
  }

  &:disabled svg {
    fill: #102654;
  }
}

.about__video-button svg {
  position: absolute;
  fill: $color-default-white;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
}

@media (max-width: $tablet-width) {
  .about__container {
    padding: 100px 0 183px;
    flex-direction: column;
    gap: 43px;
  }

  .about__text-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
    align-self: center;
    padding: 0;
    max-width: 502px;
    margin: 0;
  }

  .about__title {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 0;
    letter-spacing: 1.26px;
  }

  .about__description {
    margin-bottom: 34px;
  }

  .about__image-container {
    width: 100%;
    min-height: 345px;
  }

  .about__image-container img {
    width: 100%;
    height: 345px;
  }

  .about__text {
    margin: 0;
  }

  .about__text--invisible {
    display: none;
  }

  .about__video {
    width: 266px;
    min-height: 167px;
    top: 587px;
    left: calc(50% - 130px);
    padding-bottom: 24.6%;
  }

  .about__video-button {
    width: 52px;
    height: 52px;
    outline-offset: 10px;
  }

  .about__video-button svg {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: $mobile-width) {
  .about__container {
    padding: 64px 0 70px;
    flex-direction: column;
    gap: 37px;
  }

  .about__text-container {
    text-align: start;
    max-width: 100%;
    margin-left: -10px;
  }

  .about__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 5px;
    letter-spacing: 0.96px;
  }

  .about__description {
    margin-bottom: 24px;
  }

  .about__text {
    max-width: 258px;
  }

  .about__image-container {
    position: relative;
    width: calc(100% + 30px);
    min-height: 313px;
    padding-top: 100%;
    margin-left: -15px;
  }

  .about__image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }

  .about__video {
    position: relative;
    width: calc(100% + 30px);
    padding-bottom: 57.6%;
    top: 0;
    left: -15px;
  }
}
