.advantages {
  background-color: #f8f9fc;
}

.advantages__container {
  padding: 108px 0 129px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.advantages__title {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 1.62px;
  text-align: center;
  margin: 0;
  color: #102654;
}

.advantages__list {
  margin: 0;
  padding: 0 60px;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "space weights parking"
    "comfort weights trainers";
  column-gap: 60px;
  list-style-type: none;
}

.advantages__item {
  display: flex;
  max-width: 340px;
  gap: 30px;
}

.advantages__number {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 60px;
  font-size: 71px;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(150deg, #d10a42 12%, #0041ca 40%);

  & b {
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2e35ac;
  }
}

.advantages__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #102654;

  & h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
  }

  & p {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    width: 100%;
  }
}

.advantages__item--space {
  grid-area: space;
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);
  padding-bottom: 74px;
}

.advantages__item--comfort {
  grid-area: comfort;
  padding-top: 74px;
}

.advantages__item--weights {
  grid-area: weights;
  background-color: #1c3374;
  flex-direction: column;
  align-items: center;
  padding: 65px 34px;
  max-width: 100%;
  gap: 0;

  & .advantages__number {
    color: $color-default-white;
    font-size: 74px;
    line-height: 65px;
    margin-bottom: 20px;
  }

  & .advantages__text {
    color: $color-default-white;
    text-align: center;

    & h3 {
      font-size: 26px;
      line-height: 39px;
      margin-bottom: 40px;
    }

    & p {
      line-height: 24px;
    }
  }
}

.advantages__item--parking {
  grid-area: parking;
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);
  padding-bottom: 74px;
}

.advantages__item--trainers {
  grid-area: trainers;
  padding-top: 74px;
}

@media screen and (max-width: $tablet-width) {
  .advantages__container {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 51px;
  }

  .advantages__title {
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1.26px;
  }

  .advantages__list {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 239px 1fr;
    grid-template-areas:
      "space parking"
      "weights weights"
      "comfort trainers";
    column-gap: 50px;
    row-gap: 50px;
    list-style-type: none;
  }

  .advantages__item {
    display: flex;
    min-width: 300px;
    gap: 30px;
    max-width: 100%;
  }

  .advantages__number {
    line-height: 58px;
    font-size: 58px;
    margin-bottom: 10px;
  }

  .advantages__text {
    gap: 5px;
    width: 100%;

    & h3 {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .advantages__item--space {
    grid-area: space;
    border: none;
    padding-bottom: 0;
  }

  .advantages__item--comfort {
    grid-area: comfort;
    padding-top: 0;
  }

  .advantages__item--weights {
    align-self: center;
    padding: 30px 134px;
    max-width: 442px;
    gap: 0;
    min-height: 100%;
    margin: 0 auto;

    & .advantages__number {
      margin-bottom: 10px;
    }

    & .advantages__text {
      & h3 {
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 20px;
      }
    }
  }

  .advantages__item--parking {
    border: none;
    padding-bottom: 0;
  }

  .advantages__item--trainers {
    padding-top: 0;
  }
}

@media screen and (max-width: $mobile-width) {
  .advantages__container {
    padding: 63px 0;
    gap: 50px;
  }

  .advantages__title {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.96px;
  }

  .advantages__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style-type: none;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    gap: 10px;
    padding: 0 36px;
  }

  .advantages__number {
    align-items: center;
    line-height: 58px;
    font-size: 65px;
  }

  .advantages__text {
    align-items: center;
    text-align: center;
    gap: 5px;

    & h3 {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .advantages__item--space {
    border-bottom: none;
    padding-bottom: 0;
    order: 0;
  }

  .advantages__item--comfort {
    padding-top: 0;
    order: 3;
  }

  .advantages__item--weights {
    padding: 40px 70px;
    width: calc(100% + 30px);
    margin-left: -15px;
    gap: 5px;
    min-height: 239px;
    max-width: calc(100% + 30px);
    order: 2;

    & .advantages__number {
      margin-bottom: 0;
    }

    & .advantages__text {
      color: $color-default-white;
      text-align: center;

      & h3 {
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 5px;
      }

      & p {
        line-height: 24px;
      }
    }
  }

  .advantages__item--parking {
    border-bottom: none;
    padding-bottom: 0;
    order: 1;
  }

  .advantages__item--trainers {
    padding-top: 0;
    order: 4;
  }
}
