.competition__container {
  padding: 120px 83px 53px;
  display: flex;

  & img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.competition__text-container {
  padding: 80px 79px 87px 78px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ed0233;
  max-width: 500px;

  & p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $color-default-white;
    margin-bottom: 46px;
  }
}

.competition__text-block {
  display: flex;
  gap: 50px;
  width: 100%;
  align-items: center;
  margin-bottom: 2px;
}

.competition__title {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 82px;
  line-height: 79px;
  color: $color-default-white;
  letter-spacing: 2.46px;
  margin: 0;
  width: fit-content;
  max-width: 201px;
  padding-left: 11px;
  padding-bottom: 21px;
}

.competition__dates {
  display: flex;
  flex-direction: column;
  margin: 0;

  & dt {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $color-default-white;
    padding-bottom: 3px;
  }

  & dd {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $color-default-white;
    margin: 0;
    border-top: 1px solid #ffffff;
    margin-bottom: 14px;

    & b {
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
    }
  }
}

.competition__link {
  padding: 23px 68px;
  width: 100%;
  border: 4px solid #ffffff;
  color: $color-default-white;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  text-align: center;

  &:hover,
  &:focus-visible {
    @include hover-focus;
    background-color: #ffffff;
    color: #103aae;
    outline: none;
  }

  &:active {
    @include active;
    background-color: #ffffff;
    color: #102654;
  }

  .competition__image {
    background-color: #102654;
    min-width: 660px;
    min-height: 500px;
  }
}

@media screen and (max-width: $tablet-width) {
  .competition__container {
    padding: 99px 25px 50px;
  }

  .competition__text-container {
    padding: 50px 45px 51px;
    max-width: 292px;
    justify-content: center;

    & p {
      font-size: 12px;
      line-height: 18px;
      color: $color-default-white;
      margin-bottom: 30px;
    }
  }

  .competition__text-block {
    gap: 34px;
    margin-bottom: 0;
  }

  .competition__title {
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 1.44px;
    max-width: 117px;
    padding-left: 7px;
    padding-bottom: 10px;
  }

  .competition__dates {
    margin-bottom: 0;

    & dt {
      font-size: 12px;
      line-height: 12px;
      padding-bottom: 2px;
    }

    & dd {
      gap: 4px;
      font-size: 10px;
      line-height: 15px;
      border-top: 1px solid #ffffff;
      margin-bottom: 6px;
      padding-top: 3px;

      & b {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }

  .competition__link {
    padding: 12px 44px;
    border: 2px solid #ffffff;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-align: center;
  }

  .competition__image {
    min-width: 386px;
    min-height: 292px;
    width: 100%;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .competition__container {
    padding: 70px 0 35px;
    display: flex;
    flex-direction: column;
  }

  .competition__text-container {
    padding: 51px 45px 52px;
    max-width: 100%;
    align-items: center;
  }

  .competition__image {
    padding-top: 100%;
    position: relative;
    min-width: 100%;
    min-height: 292px;

    & img {
      position: absolute;
      content: "";
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .competition__text-block {
    justify-content: center;
  }
}
