.contacts {
  border-top: 1px solid #74819c;
}

.contacts__container {
  display: flex;
}

.contacts__free {
  background-color: #102654;
  width: 50%;

  & form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.contacts__free-container {
  display: flex;
  flex-direction: column;
  padding: 55px 170px 70px 103px;
  max-width: 410px;
  box-sizing: content-box;
  margin-left: auto;
  gap: 13px;
}

.contacts__free-title {
  display: flex;
  font-family: $ff-alumni;
  font-weight: 800;
  font-size: 54px;
  line-height: 84px;
  color: $color-default-white;
  width: fit-content;
  margin: 0;
  letter-spacing: 1.62px;
}

.contacts__free-inputs {
  display: flex;
  gap: 30px;

  & label {
    width: 100%;
  }

  & input {
    width: 100%;
    max-width: 190px;
    border: none;
    border-bottom: 1px solid #74819c;
    background-color: transparent;
    padding: 7px 0 6px;
    color: $color-default-white;

    &::placeholder {
      color: $color-default-white;
      font-size: 14px;
      line-height: 16px;
    }

    &:hover {
      @include hover;
      border-bottom: 1px solid #ffffff;
    }

    &:focus,
    &:active,
    &:focus-within {
      @include focus;
      @include active;
      @include hover-focus;
      outline: 1px solid #ffffff;
    }

    &:disabled {
      border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    }

    &:disabled::placeholder {
      opacity: 30%;
    }

    &:invalid {
      border-bottom: 1px solid #ff121f;
    }

    &:invalid p {
      display: block;
    }
  }
}

.contacts__free-name,
.contacts__free-tel {
  width: 100%;
  display: flex;
  flex-direction: column;

  & .input-message.is-invalid {
    margin-top: 2px;
    font-size: 14px;
    line-height: 22px;
    color: #ff121f;
    width: fit-content;
  }

  & .input-message.is-valid {
    margin-top: 2px;
    font-size: 14px;
    line-height: 22px;
    color: #15ab07;
    width: fit-content;
  }
}

.contacts__button {
  width: 100%;
  background-color: transparent;
  min-height: 52px;
  border: 3px solid #ffffff;
  color: $color-default-white;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    @include hover-focus;
    background-color: $color-default-white;
    color: #103aae;
  }

  &:active {
    @include active;
    background-color: $color-default-white;
    color: #102654;
  }

  &:disabled {
    opacity: 30%;
  }
}

.contacts__block {
  width: 50%;
}

.contacts__block-container {
  display: flex;
  flex-direction: column;
  padding: 56px 159px 61px 120px;
  max-width: 404px;
  box-sizing: content-box;
  margin-right: auto;
  gap: 37px;
}

.contacts__free-title--blue {
  color: #102654;
  line-height: 65px;
  font-weight: 600;
}

.contacts__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 404px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "address tel" "time email";
  column-gap: 120px;
  row-gap: 17px;
  padding-left: 5px;

  &::after {
    position: absolute;
    content: "";
    width: 1px;
    min-height: 102px;
    height: calc(100% - 11px);
    background-color: #74819c;
    top: 7px;
    left: 58%;
  }
}

.contacts__item {
  width: 100%;

  & h4 {
    font-weight: 700;
    list-style: 16px;
    line-height: 24px;
    color: #102654;
    margin: 0;
    margin-bottom: 4px;
  }

  & p {
    width: 100%;
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    min-width: 170px;
  }
}

.contacts__item--address {
  grid-area: address;
}

.contacts__item--time {
  grid-area: time;
}

.contacts__item--tel {
  grid-area: tel;
}

.contacts__item--email {
  grid-area: email;
}

@media screen and (max-width: $tablet-width) {
  .contacts {
    border-top: none;
  }

  .contacts__container {
    display: flex;
    flex-direction: column;
  }

  .contacts__free {
    width: 100%;
  }

  .contacts__free-container {
    display: flex;
    flex-direction: column;
    padding: 62px 162px 70px 134px;
    max-width: 100%;
    min-width: 472px;
    box-sizing: content-box;
    margin: 0 auto;
    gap: 28px;
  }

  .contacts__free-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
  }

  .contacts__free-inputs {
    display: flex;
    gap: 60px;

    & label {
      width: 100%;
    }

    & input {
      max-width: 100%;
    }
  }

  .contacts__button {
    width: 100%;
    background-color: transparent;
    min-height: 52px;
    border: 3px solid #ffffff;
    color: $color-default-white;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }

  .contacts__block {
    width: 100%;
  }

  .contacts__block-container {
    width: 100%;
    padding: 55px 163px 61px 125px;
    max-width: 462px;
    margin: 0 auto;
    gap: 24px;
  }

  .contacts__free-title--blue {
    color: #102654;
    line-height: 65px;
    font-weight: 600;
  }

  .contacts__list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "address tel" "time email";
    column-gap: 96px;
    row-gap: 21px;

    &::after {
      position: absolute;
      content: "";
      width: 1px;
      min-height: 102px;
      height: 100%;
      background-color: #74819c;
      top: 0;
      left: 57%;
    }
  }

  .contacts__item {
    width: 100%;

    & h4 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 5px;
    }

    & p {
      width: 100%;
      font-size: 18px;
      line-height: 27px;
      min-width: 218px;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .contacts__free-container {
    padding: 64px 15px 70px;
    max-width: 100%;
    min-width: 100%;
    gap: 30px;
    box-sizing: border-box;
  }

  .contacts__free {
    & form {
      gap: 39px;
    }
  }

  .contacts__free-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.96px;
  }

  .contacts__free-inputs {
    flex-direction: column;
    gap: 28px;

    & label {
      width: 100%;
    }
  }

  .contacts__block {
    width: 100%;
  }

  .contacts__block-container {
    width: 100%;
    padding: 64px 15px 62px;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    gap: 35px;
    box-sizing: border-box;
  }

  .contacts__free-title--blue {
    line-height: 38px;
  }

  .contacts__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    gap: 20px;

    &::after {
      display: none;
    }
  }
}
