.footer {
  width: 100%;
  min-height: 108px;
  background-color: #030A1A;
}

.footer__container {
  padding: 31px 0;
}

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 40px;
  max-width: 450px;
}

.footer__nav-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 5px 0;
  cursor: pointer;
}

.footer__nav-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 11px;
  max-width: 150px;
}

.footer__nav-social-item {
  background-color: #fff;
  border-radius: 50%;
  min-height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
}

.footer__nav-social-link {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 10px 12px;
}

.footer__nav-social-link svg {
  position: absolute;
  top: 3px;
  left: 5px;
  color: #030A1A;
}

.footer__nav-social-text {
  display: none;
}

@media (max-width: $tablet-width) {
  .footer {
    min-height: 114px;
  }

  .footer__container {
    padding: 45px 0;
  }

  .footer__logo {
    display: flex;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
  }

  .footer__logo svg{
    width: 82px;
    height: 18px;
  }

  .footer__nav-list {
    gap: 30px;
    max-width: 392px;
  }
}

@media (max-width: $mobile-width) {
  .footer {
    min-height: 260px;
  }

  .footer__container {
    padding: 51px 0;
  }

  .footer__nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .footer__logo {
    position: absolute;
    top: -5px;
    left: -10px;
    display: flex;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
  }

  .footer__logo svg{
    width: 68px;
    height: 15px;
  }

  .footer__nav-list {
    flex-direction: column;
    max-height: 140px;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 40px;
  }

  .footer__nav-item {
    &:first-child {
      padding-top: 44px;
    }
  }

  .footer__nav-link {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    padding: 5px 0;
    cursor: pointer;
  }
}
