.header {
  position: absolute;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.header__logo {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px 5px;
}

.header__contact {
  color: #ffffff;
  font-family: $ff-alumni;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.78px;
  line-height: 31px;
}

@media (max-width: $tablet-width) {
  .header__container {
    padding-top: 40px;
  }

  .header__logo svg{
    width: 82px;
    height: 17px;
  }

  .header__contact {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.48px;
    line-height: 29px;
  }
}

@media (max-width: $mobile-width) {
  .header__container {
    padding-top: 15px;
  }

  .header__logo svg{
    width: 69px;
    height: 24px;
  }

  .header__contact {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 24px;
  }
}
