.header {
  position: absolute;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 83px 0 83px;
}

.header__logo {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 19px 0 10px;
  cursor: pointer;

  &:hover {
    @include hover;
    outline: 2px solid #ffffff;
    outline-offset: 5px;
  }

  &:focus {
    @include focus;
    background-color: #ffffff;
    color: #103aae;
  }

  &:active {
    @include active;
    background-color: #ffffff;
    color: #102654;
  }
}

.header__contact {
  color: #ffffff;
  font-family: $ff-alumni;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.78px;
  line-height: 31px;
  padding: 0;
  cursor: pointer;

  &:hover {
    @include hover;
    outline: 2px solid #ffffff;
    outline-offset: 5px;
  }

  &:focus {
    @include focus;
    background-color: #ffffff;
    color: #103aae;
  }

  &:active {
    @include active;
    background-color: #ffffff;
    color: #102654;
  }
}

@media (max-width: $tablet-width) {
  .header__container {
    padding: 20px 25px 0;
  }

  .header__logo svg {
    width: 82px;
    height: 17px;
  }

  .header__contact {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.48px;
    line-height: 29px;
    padding-top: 10px;
  }
}

@media (max-width: $mobile-width) {
  .header__container {
    padding: 0;
    padding-top: 5px;
  }

  .header__logo {
    padding: 10px 0;
  }

  .header__logo svg {
    width: 69px;
    height: 24px;
  }

  .header__contact {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 24px;
    padding: 10px 0;
  }
}
