.opinions__container {
  padding: 120px 0;
}

.opinions__slider {
  position: relative;
}

.opinions__title {
  font-family: $ff-alumni;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 1.62px;
  font-weight: 600;
  margin: 0;
  color: #102654;
  text-align: center;
  margin-bottom: 36px;
}

.opinions__slide-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 55px 62px 55px 170px;
  max-width: 560px;
  min-height: 242px;
  margin: 0 auto;
  background-color: #1c3374;
  color: $color-default-white;
  filter: drop-shadow(0 0 40px rgba(28, 51, 116, 0.2));

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/opinion-photo.png");
    width: 80px;
    height: 80px;
    top: 62px;
    left: 62px;
  }

  & h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 11px;
  }

  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
  }
}

.opinions__slider-buttons {
  position: absolute;
  width: 560px;
  min-height: 242px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.opinions__slider-button {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  bottom: 37%;
  border: none;
  background-color: transparent;
  z-index: 5;
  border-radius: 50%;
  cursor: pointer;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    @include hover-focus;
    outline: 1px solid #102654;
  }

  &:not(:disabled):hover svg,
  &:not(:disabled):focus svg {
    @include hover-focus;
    color: #102654;
  }

  &:not(:disabled):active {
    @include active;
    background-color: #102654;
  }

  &:not(:disabled):active svg {
    @include active;
    color: $color-default-white;
  }

  &:disabled svg {
    color: rgba(16, 38, 84, 0.3);
  }
}

.opinions__slider-button svg {
  position: absolute;
  top: 10px;
  left: 14px;
  color: #afafaf;
}

.opinions__slider-button--prev {
  left: -74px;
}

.opinions__slider-button--next {
  right: -74px;
}

.opinions__slider-button--next svg {
  transform: rotate(180deg);
  top: 12px;
  left: 22px;
}

@media screen and (max-width: $tablet-width) {
  .opinions__container {
    padding: 90px 0 100px;
  }

  .opinions__title {
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1.26px;
    margin-bottom: 38px;
  }

  .opinions__slide-container {
    max-width: 566px;
    width: 100%;
    padding: 56px 63px 55px 172px;

    &::after {
      top: 64px;
      left: 64px;
    }
  }

  .opinions__slider-button svg {
    position: absolute;
    top: 10px;
    left: 16px;
    color: #afafaf;
  }

  .opinions__slider-button--next svg {
    transform: rotate(180deg);
    left: 22px;
  }
}

@media screen and (max-width: $mobile-width) {
  .opinions .container {
    padding: 0;
  }

  .opinions__container {
    padding: 63px 0 70px;
  }

  .opinions__title {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.96px;
    margin-bottom: 42px;
  }

  .opinions__slide-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 25px 37px;
    max-width: 226px;
    min-height: 335px;
    margin: 0 auto;

    &::after {
      display: none;
    }

    & h3 {
      position: relative;
      font-size: 20px;
      line-height: 26px;
      margin: 0;
      margin-bottom: 22px;
      padding-left: 99px;
      padding-top: 9px;

      &::after {
        position: absolute;
        content: "";
        background-image: url("../img/opinion-photo-mobile.png");
        width: 68px;
        height: 68px;
        top: 0;
        left: 15px;
      }
    }

    & p {
      text-align: center;
      line-height: 22px;
    }
  }

  .opinions__slider-buttons {
    position: absolute;
    width: 100%;
    min-height: 335px;
  }

  .opinions__slider-button {
    width: 30px;
    height: 33px;
    bottom: 40.6%;
    transform: translate(0, -41%);
  }

  .opinions__slider-button svg {
    width: 10px;
    height: 19px;
    top: 6px;
    left: 8px;
  }

  .opinions__slider-button--prev {
    left: 5px;
  }

  .opinions__slider-button--next {
    right: 5px;
  }

  .opinions__slider-button--next svg {
    left: 11px;
  }
}
