.promotions__container {
  padding: 138px 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}

.promotions__title {
  font-family: $ff-alumni;
  font-size: 52px;
  line-height: 64px;
  font-weight: 600;
  letter-spacing: 1.62px;
  margin: 0;
}

.promotions__wrapper {
  display: flex;
  gap: 40px;
}

.promotions__main-container {
  display: flex;
}

.promotions__main-text {
  padding: 39px 45px 45px;
  background-color: #ed0233;
  color: $color-default-white;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  min-height: 462px;

  & span {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 28px;
    line-height: 31px;
  }

  & b {
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 16px;
  }

  & p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin: 0;
    margin-bottom: auto;
  }

  & a {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: $color-default-white;
    font-weight: 700;
    padding: 1px 0;
    margin-top: 10px;
    border-bottom: 1px solid #ffffff;
    width: fit-content;
    cursor: pointer;

    &:hover {
      @include hover;
      color: rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgb(255, 255, 255, 0.8);
    }

    &:focus {
      @include focus;
      outline: 1px solid #ffffff;
      outline-offset: 7px;
      border-bottom: none;
    }

    &:active {
      @include active;
      color: $color-default-white;
      border-bottom: 1px solid #ffffff;
    }
  }
}

.promotions__main-picture {
  background-color: #528ec6;
  min-height: 462px;
  min-width: 280px;

  & img {
    min-height: 462px;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.promotions__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 40px;
  max-width: 100%;
}

.promotions__item {
  display: flex;
  flex-direction: column;
  border: 7px solid transparent;
  border-image: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%) 1;
  padding: 24px 28px 28px;
  color: #1c3374;
  min-width: 560px;
  min-height: 211px;

  & h3 {
    font-size: 26px;
    line-height: 30px;
    margin: 0;
    font-weight: 700;
    margin-bottom: 7px;
  }

  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    margin-bottom: auto;
  }

  & a {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding: 1px 0;
    border-bottom: 1px solid #1c3374;
    width: fit-content;
    color: #1c3374;
    cursor: pointer;
    user-select: none;

    &:hover {
      @include hover;
      color: rgb(28, 51, 115, 0.7);
      border-bottom: 1px solid rgb(28, 51, 116, 0.7);
    }

    &:focus {
      @include focus;
      outline: 1px solid #102654;
      outline-offset: 7px;
      border-bottom: none;
    }

    &:active {
      @include active;
      color: #1c3374;
      border-bottom: 1px solid #1c3374;
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .promotions__container {
    padding: 94px 25px 100px;
    gap: 40px;
  }

  .promotions__title {
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1.26px;
  }

  .promotions__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  .promotions__main-container {
    margin: 0 auto;
    width: 100%;
    justify-content: center;
  }

  .promotions__main-picture {
    min-width: 399px;

    & img {
      width: 100%;
    }
  }

  .promotions__list {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 30px;
    max-width: 768px;
    margin: 0 auto;
  }

  .promotions__item {
    min-width: 324px;
    max-width: 324px;
  }
}

@media screen and (max-width: $mobile-width) {
  .promotions__container {
    padding: 64px 0 70px;
    gap: 42px;
  }

  .promotions__title {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.96px;
  }

  .promotions__wrapper {
    gap: 30px;
  }

  .promotions__main-container {
    flex-direction: column;
    width: 100%;
  }

  .promotions__main-text {
    align-items: center;
    text-align: center;
    max-width: 100%;
    min-height: 299px;

    & b {
      margin-bottom: 11px;
    }
  }

  .promotions__main-picture {
    min-height: 299px;
    min-width: 100%;

    & img {
      min-height: 299px;
      height: 100%;
      width: 100%;
    }
  }

  .promotions__list {
    flex-wrap: wrap;
    gap: 30px;
  }

  .promotions__item {
    align-items: center;
    text-align: center;
    padding: 35px 42px 38px;
    min-width: 100%;
    max-width: 100%;

    & h3 {
      margin-bottom: 9px;
    }
  }
}
