.swiper .swiper__slider-wrapper {
  max-width: 100%;
}

.swiper__slide-container {
  & img {
    object-fit: cover;
    min-height: 100%;
    width: 100%;
  }
}

.swiper__slide-picture {
  position: relative;

  & p {
    color: $color-default-white;
    position: absolute;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
  }
}

.swiper .swiper__slide {
  &:hover picture::after,
  &:focus picture::after {
    position: absolute;
    content: "";
    background-color: rgba(16, 38, 84, 0.89);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &:hover p,
  &:focus p {
    top: 58px;
  }

  &:hover .swiper__text,
  &:focus .swiper__text {
    display: flex;
  }
}

.swiper__text {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 81px;
  left: 50%;
  transform: translate(-50%, 0);
  color: $color-default-white;

  & span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #b6bdcc;
    margin-bottom: 32px;
  }
}

.swiper__text-advantages {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 160px;
  gap: 13px;
  padding-left: 16px;
}

.swiper__button {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  bottom: 35%;
  transform: translate(0, -35%);
  border: none;
  background-color: transparent;
  z-index: 5;

  &:hover,
  &:focus {
    outline: 1px solid #102654;
    border-radius: 50%;
  }

  &:hover svg,
  &:focus svg {
    color: #102654;
  }

  &:active {
    background-color: #102654;
  }

  &:active svg {
    color: $color-default-white;
  }

  &:disabled svg {
    color: rgba(16, 38, 84, 0.3);
  }
}

.swiper__button svg {
  position: absolute;
  top: 12px;
  left: 18px;
  color: #afafaf;
}

.swiper__button--prev {
  left: -70px;
}

.swiper__button--next {
  right: -70px;
}

.swiper__button--next svg {
  transform: rotate(180deg);
  left: 22px;
}

@media screen and (max-width: $tablet-width) {
  .swiper {
    padding-left: 56px;
    padding-right: 56px;
  }

  .swiper__slide-container {
    & img {
      min-width: 268px;
      object-fit: cover;
    }
  }

  .swiper__button--prev {
    left: -10px;
  }

  .swiper__button--next {
    right: -10px;
  }
}

@media screen and (max-width: $mobile-width) {
  .swiper {
    padding-left: 32px;
    padding-right: 32px;
  }

  .swiper .swiper__slide {
    &:hover p,
    &:focus p {
      top: 48px;
    }
  }

  .swiper__slide-container {
    & img {
      min-height: 274px;
      min-width: 226px;
    }
  }

  .swiper__text {
    top: 71px;
  }

  .swiper__button {
    width: 30px;
    height: 30px;
    bottom: 40%;
    transform: translate(0, -40%);
  }

  .swiper__button svg {
    width: 10px;
    height: 19px;
    top: 6px;
    left: 8px;
  }

  .swiper__button--prev {
    left: 0;
  }

  .swiper__button--next {
    right: 0;
  }

  .swiper__button--next svg {
    transform: rotate(180deg);
    left: 12px;
  }
}
