.swiper .swiper__slider-wrapper {
  max-width: 100%;
}

.swiper__slide-container {
  & img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
}

.swiper__slide-picture {
  position: relative;
  background-color: #9aa2b3;
  min-width: 100%;
  min-height: 100%;

  & p {
    color: $color-default-white;
    position: absolute;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    bottom: 22px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
  }
}

.swiper .swiper__slide {
  cursor: pointer;

  &:hover picture::after,
  &:focus picture::after {
    @include hover-focus;
    position: absolute;
    content: "";
    background-color: rgba(16, 38, 84, 0.89);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &:hover p,
  &:focus p {
    @include hover-focus;
    top: 52px;
  }

  &:hover .swiper__text,
  &:focus .swiper__text {
    @include hover-focus;
    display: flex;
  }
}

.swiper__text {
  display: none;
  position: absolute;
  top: 71px;
  left: 50%;
  transform: translate(-50%, 0);
  color: $color-default-white;
  max-height: 166px;
  overflow-y: auto;

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #b6bdcc;
    margin-bottom: 32px;
  }
}

.swiper__text-advantages {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 163px;
  max-width: 165px;
  gap: 13px;
  padding-left: 20px;
}

@media screen and (max-width: $tablet-width) {
  .swiper__slide-container {
    & img {
      object-fit: cover;
      min-height: 294px;
      width: 100%;
    }
  }

  .swiper__slide-picture {
    & p {
      bottom: 30px;
      left: 51%;
    }
  }

  .swiper__text {
    top: 74px;
    left: 47%;
    transform: translate(-45%, 0);
    color: $color-default-white;

    & span {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #b6bdcc;
      margin-bottom: 32px;
    }
  }

  .swiper__text-advantages {
    width: 170px;
    max-width: 170px;
  }
}

@media screen and (max-width: $mobile-width) {
  .swiper {
    padding-left: 32px;
    padding-right: 32px;
  }

  .swiper .swiper__slide {
    &:hover p,
    &:focus p {
      top: 42px;
      left: 50%;
    }
  }

  .swiper__slide-container {
    & img {
      min-height: 274px;
      object-fit: cover;
    }
  }

  .swiper__slide-picture {
    min-height: 274px;
    min-width: 226px;
  }

  .swiper__text {
    top: 64px;

    & span {
      margin-bottom: 34px;
    }
  }
}
