.swiper__slide-container {
  min-height: 290px;
  position: relative;

  & p {
    color: $color-default-white;
    position: absolute;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
  }

  & img {
    object-fit: cover;
    min-height: 100%;
  }
}

.swiper .swiper__slide {
  min-height: 294px;
  width: 260px;
}

.swiper__text {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  color: $color-default-white;

  & span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #b6bdcc;
    margin-bottom: 32px;
  }
}

.swiper__text-advantages {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 55px;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  max-width: 215px;
  gap: 24px;
}

.swiper .swiper__button {
  position: absolute;
  content: "";
  width: 16px;
  height: 100%;
  top: 20px;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  display: none;
}

.swiper__button svg {
  color: #afafaf;
}

.swiper .swiper__button--prev {
  left: -40px;
}

.swiper .swiper__button--next {
  right: -40px;
}
