.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.tabs__controls {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 46px;
  max-width: 350px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
}

.tabs__control {
  position: relative;
  cursor: pointer;
  margin: 0;
  color: rgba(16, 38, 84, 0.5);
  border: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 30px;
  padding: 0 0 11px;
  user-select: none;

  &.is-active {
    position: relative;
    color: rgba(16, 38, 84, 1);
    pointer-events: none;
    border-bottom: 2px solid #d10a42;
  }

  &:hover,
  &:focus-visible {
    @include hover-focus;
    color: #102654;
    border-bottom: 2px solid #d10a42;
    outline: none;
  }

  &:active {
    @include active;
    color: #102654;
    border-bottom: 2px solid #d10a42;
  }

  &:disabled {
    color: rgba(16, 38, 84, 0.3);
    border-bottom: none;
  }
}

.tabs__content {
  width: 100%;
  transition: height 0.3s;
}

.tabs__element {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

.tabs__element-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  min-height: 447px;
  padding: 58px 70px 58px;
  background-color: $color-default-white;
  border: 7px solid transparent;

  &:hover,
  &:focus-visible {
    @include hover-focus;
    border: 7px solid transparent;
    border-image: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%) 1;
  }

  &:hover a,
  &:focus-visible a {
    @include hover-focus;
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    color: $color-default-white;
    padding: 26px 43px;
    outline: none;
    border: none;
  }

  & h3 {
    font-size: 26px;
    line-height: 29px;
    color: #102654;
    margin: 0;
    margin-bottom: 10px;
  }

  & p {
    margin: 0;
    color: #102654;
    font-weight: 400;
    margin-bottom: 58px;
  }

  & span {
    position: relative;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: #103aae;
    z-index: 5;
    margin-bottom: 35px;
  }

  & b {
    font-family: $ff-rouble;
    color: #102654;
    font-weight: 600;
    z-index: 5;
    cursor: pointer;
  }

  & strong {
    position: absolute;
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    color: rgba(232, 232, 232, 0.48);
    top: -45px;
    left: -15px;
    z-index: -1;
  }

  & a {
    padding: 24px 30px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid rgba(16, 38, 84, 1);
    box-sizing: border-box;
    user-select: none;
    text-align: center;
    width: 100%;

    &:hover,
    &:focus-visible {
      @include hover-focus;
      background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
      color: $color-default-white;
      border: none;
      padding: 26px 43px;
      outline: none;
    }

    &:active {
      @include active;
      @include hover-focus;
      background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
      color: rgba(255, 255, 255, 0.7);
      padding: 26px 43px;
      border: none;
    }
  }
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: $tablet-width) {
  .tabs__controls {
    display: flex;
    position: relative;
    gap: 54px;
    max-width: 350px;
    margin-bottom: 44px;
    border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  }

  .tabs__control {
    font-size: 18px;
    line-height: 27px;
  }

  .tabs__element {
    flex-direction: column;
  }

  .tabs__element-item {
    width: 442px;
    min-height: 448px;
    padding: 56px 111px 59px;
    background-color: $color-default-white;
  }
}

@media screen and (max-width: $mobile-width) {
  .tabs__controls {
    gap: 45px;
    max-width: 100%;
    margin-bottom: 34px;
    border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  }

  .tabs__control {
    font-size: 16px;
    line-height: 24px;
    padding: 11px 0;
  }

  .tabs__element {
    gap: 35px;
  }

  .tabs__element-item {
    width: 100%;
    min-height: 384px;
    padding: 45px 35px;
    background-color: $color-default-white;
    border: 7px solid transparent;

    & h3 {
      font-size: 22px;
      line-height: 24px;
      margin: 0;
      margin-bottom: 8px;
    }

    & p {
      margin-bottom: 49px;
    }

    & span {
      font-size: 48px;
      line-height: 72px;
      margin-bottom: 30px;
    }

    & b {
      font-family: $ff-rouble;
      color: #102654;
      font-weight: 600;
      z-index: 5;
    }

    & strong {
      top: -38px;
      font-size: 80px;
      line-height: 120px;
    }
  }
}
