.trainers__container {
  padding: 53px 0 105px;
}

.trainers__title {
  font-family: $ff-alumni;
  font-size: 54px;
  line-height: 65px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1.62px;
  margin-bottom: 48px;
}
