.trainers__container {
  position: relative;
  padding: 53px 0 105px;
}

.trainers__title {
  font-family: $ff-alumni;
  font-size: 54px;
  line-height: 65px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1.62px;
  margin-bottom: 48px;
}

@media screen and (max-width: $tablet-width) {
  .trainers__container {
    padding: 49px 0 99px;
  }

  .trainers__title {
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1.26px;
    margin-bottom: 31px;
    text-align: center;
  }
}

@media screen and (max-width: $mobile-width) {
  .trainers__container {
    position: relative;
    padding: 28px 0 70px;
  }

  .trainers__title {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.96px;
    margin-bottom: 42px;
    text-align: center;
  }
}
