.container {
  width: 100%;
  max-width: 1366px;
  padding: 0 103px;
  margin: 0 auto;
  z-index: -1;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    min-width: 290px;
    padding: 0 15px;
  }
}
